*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin:0px;
}

a {
    text-decoration: none;
    color:white;
 }

ul {
    display:flex;
    margin:0;
    padding:0;
    gap: 16px;
    list-style-type: none;
}

.header,.hero-container{
    background-color: #1F2937;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #F9FAF8;
    padding: 16px 20%;
}

.hero-container{
    display: flex;
    justify-content:space-between ;
    padding: 96px 20%;
    color:  #F9FAF8;
}


button {
    padding: 12px 36px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    margin-top: 12px;
    font-weight: bold;
}

.hero{

    width:450px; 
    height: auto;
}

.wallet-pic {
    flex-grow: 0;
    height: auto;
    width: 450px;
    min-width: 0;
}

.logo{
    font-size: 24px;
    font-weight: 900px; 
}
.hero-text {
    font-size: 48px;
    margin-bottom: 12px;
}

.random-information,.call-to-action {
    background-color: white;
    padding: 24px;
    text-align: center;
}

.info-text{ 
    font-weight: 800;
    color: #1F2937;
    font-size: 36px;
  
}

.card-container{
    display:flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    padding: 24px 0;
}

.card{
    text-align: center;
    width: 200px;
    height: 200px;
}

.box{
    height: 128px;
    width: 128px;
    margin: 12px auto;
    border: 3px solid #3882F6;
    border-radius: 24px;
}

.quote-container{
    background-color: #e5e7eb;
    padding: 96px 25%;
    color: #1F2937;
    text-align: justify;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.attribution{
    text-align: end;
    font-weight: bold;
}

.call-to-action{
    text-align: left;
    border-radius: 12px;
    width: auto;
    margin: 96px 20%;
    padding:46px 100px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding: 24px 20%;
}